<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MidTrade_HappyHours.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEEEB0BC1D0E6A7600D980B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEEEB0D21D0E6A7E00D980B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEEEB0DD1D0E6A7E00D980B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
